<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>date</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center ion-align-items-center ion-justify-content-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">date</ion-title>
    </ion-toolbar>
  </ion-header>

  <!---------------------------------Calendario---------------------------------------------->
  <div id="cale" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
    <ion-datetime locale="es-ES"></ion-datetime>
    <br><br><br>
    <ion-datetime [showDefaultTitle]="true"></ion-datetime>
    <br><br><br>
    <ion-datetime #datetime>
      <ion-buttons slot="buttons" style="display: flex; justify-content: center;">
        <ion-button color="danger" (click)="datetime.reset()">Reset</ion-button>
        <ion-button color="primary" (click)="datetime.cancel()">Never mind</ion-button>
        <ion-button color="primary" (click)="datetime.confirm()">All Set</ion-button>
      </ion-buttons>
    </ion-datetime>
    <br><br><br>
  </div>
</ion-content>
