<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Modal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-button id="open-modal" expand="block">Abrir Modal</ion-button>

    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Equipo de Trabajo</ion-title>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="modal.dismiss()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=x"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Lucía Martínez</h2>
                <p>Gerente de Ventas</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=y"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Carlos Fernández</h2>
                <p>Diseñador de Producto</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=z"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>María López</h2>
                <p>Directora de Operaciones</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=w"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Javier Gómez</h2>
                <p>CEO</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</ion-content>
